body{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.hero{
  width: fit-content;
  border-radius: 10px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 75px;
}

button{
  padding: 13px 27px;
  margin: 5px;
}