.card{
    height: 300px;
    width: 300px;
    box-shadow: rgba(114, 142, 255, 0.35) 0px 5px 15px;
    background-color: rgb(98, 105, 233);
    display: flex;
    align-items: center;
    justify-content: center;
}